/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #4a4a4a;
  background-color: #fafbfc;
  font-family: 'Faculty Glyphic', sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  overflow: hidden;
}

a {
  color: #8085C1;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

img {
    padding: 0;
    margin: 0 auto;
	position: relative;
    max-height: 100%;
    max-width: 100%;
}

a:hover {
  color: #555;
  border: none;
}

.separator {
  color: #555;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  max-width: 128px;
  height: auto;
}

.posts a {
  color: #444;
}

.posts a:hover {
  color: #777;
}

.posts-list {
  list-style-type: none;
}

.posts-list li {
  text-align: center;
  line-height: 1.75em;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.25em;
}

.title {
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

.tagline {
  width: 100%;
  color: #787878;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5em;
  display: block;
}

.posts {
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.footer {
  font-size: 0.95em;
  padding-top: 1.25em;
  padding-bottom: 1.5em;
  overflow: hidden;
  float: center;
  text-align: center;
}

.footer-link {
  color: #444;
}

.footer-link:hover {
  color: #777;
}

.footer-link-gallery {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-gallery-row {
  margin-bottom: 0.5em;
}

.footer-other-row {
  font-size: 0.9em;
}

.main h1 {
  text-align: center;
  padding-bottom: 0.3em;
  /*max-width: 100%;
  
  padding-right: 11em;
  padding-left: 11em;*/
  
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#date {
  font-size: 14px;
  padding-top: 0.25em;
  margin-bottom: 0.25em;
  text-transform: uppercase;
  font-weight: 500;
  color: #787878;
}

#cover-photo-container,
#info-container {
  display: block;
}

#info-container {
  margin-top: 2em;
}

#title {
  color: #4a4a4a;
  margin-bottom: 0.5em;
  font-size: 3em;
  line-height: 35px;
  text-transform: uppercase;
}

.post {
  line-height: 24px;
  max-width: 725px;
  clear: both;
  font-family: 'Noto Sans', sans-serif;
}

.post h1,
.post h2,
.post h3 {
  font-family: 'Faculty Glyphic', sans-serif;
}

.post h2 {
  margin-top: 2em;
  margin-left: -0.5em;
  margin-bottom: 1.25em;
}

.post a,
#about a {
  border-bottom: none;
}

.post a:hover {
  border: none;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 1.45em;
  text-align: justify;
}

.post ul, .post ol {
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
  vertical-align: top;
  height: 75%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  /*padding-right: 11em;*/
  padding-top: 2em;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 0;
}

.content {
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
}

.sidebar {
  float: left;
  width: 14%;
  padding-left: 3em;
  padding-right: 2.125em;
}

.content {
  padding-left: 2.125em;
  max-width: 1170px;
}

.header {
  text-align: center;
  padding-top: 0.5em;
  font-size: 1.1em;
}

.post-link {
  margin-bottom: 0.75em;
}

.post-title {
  font-weight: 600;
  font-size: 1.25em;
  text-transform: uppercase;
}

.post-date {
  color: #8a8a8a;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 0.75em;
  display: block;
  text-transform: uppercase;
}

#sidebar-button {
  height: intrinsic;
  cursor: pointer;
  display: none;
  padding: 15px 5px 0px 0px;
  margin-bottom: 10px;
}

#sidebar-button:active,
#sidebar-button:hover {
  opacity: 0.7;
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.photo {
    padding: 0;
    margin: 0;
	position: relative;
    border: none;
    overflow: hidden;
}

.photo a {
    position: relative;
    display: block;
    overflow: hidden;
}

.photo img {
    border: none;
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
    will-change: filter;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.photo a:hover img {
    filter: brightness(0.6);
}

.photo-title {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.photo a:hover .photo-title {
    opacity: 1;
}

/*****************************************************************************/
/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
  margin-top: 1.5em;
  margin-bottom: 1.45em;
  border-top: 1px dotted #e7e7e7;
}

.colophon p {
  margin-top: 1.25em;
  font-size: 0.95em;
  color: #777;
}

/*****************************************************************************/
/*
/* Responsive
/*
/*****************************************************************************/

@media (max-width:1309px) {
  #cover-photo {
    max-width: 95%;
  }

  .header {
    padding-top: 3.45em;
  }

  .posts {
    font-size: 0.9em;
  }

  .footer {
    font-size: 0.85em;
  }
}

@media (max-width:1090px) {
  #logo {
    max-width: 100px;
  }

  #title {
    font-size: 2.75em;
    line-height: 35px;
  }

  .header {
    padding-top: 3.85em;
  }

  .posts {
    font-size: 0.85em;
  }

  .sidebar {
    padding-left: 4em;
  }

  .content {
    padding-right: 3em;
  }

  .footer {
    font-size: 0.85em;
  }
}

@media (max-width:640px) {
  .photo-grid {
    grid-template-columns: 1fr;
  }

  #logo {
    max-width: 75px;
  }

  #cover-photo-container {
    text-align: center;
  }

  #title {
    font-size: 2.5em;
  }

  .sidebar {
    transition: 1s;
    margin-left: -100%;
    z-index: 3;
    width: 35%;
    padding-left: 1.75em;
  }

  .content {
    z-index: 1;
    padding-right: 2em;
  }

  #sidebar-button {
    display: block;
    z-index: 2;
  }
}

/*****************************************************************************/
/*
/* Sidebar responsive animations
/*
/*****************************************************************************/

.slideIn {
  margin-left: 0%;
}
